@import url('https://fonts.googleapis.com/css2?family=Rubik:ital@1&display=swap');

/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

body{
    background-color: whitesmoke;
}

.title{
    text-align: center;
    padding: 1rem;
    
}

.proveedores{
    list-style: none;
    text-align: center;
    font-weight: bold;
    margin: 1.5rem;
    
}

.user{
    text-align: center;
}

a{
    text-decoration: none;
}

.botonProductos{
    border: 1px solid black;
    border-radius: 1rem;
    margin: 1rem;
    padding: 1rem;
    width: 10%;
    text-align: center;
    box-shadow: 4px 4px 5px 5px rgb(169, 169, 230);
}

.botones{
    display: flex;
    justify-content: space-around;
    justify-items: center;
}

img{
    width: 5rem;
}

.user{
    margin: 5%;
}

footer{
    background-color: darkgray;
    text-align: center;
    padding: 3%;
}

.menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: darkgrey;
    padding: 2%;
}

.vacio{
    background-color: darkgrey;
    border: darkgrey;
    font-weight: bold;
}


